{# src/Nietonfir/Google/ReCaptchaBundle/Resources/views/Form/fields.html.twig #}
{% block recaptcha_widget %}
    {% spaceless %}
        <div {{ block('widget_attributes') }}></div>
    {% endspaceless %}
{% endblock %}
